// Custom Variables and Mixins
@import "./_custom/vars.global.scss";
@import "./_custom/mixins.global.scss";
@import "./_custom/fonts.global.scss";
body {
    background-color: white;
    font-family: $main-font;
    margin: 0;
}